.teste {
  color: darkgreen;
  width: 265px;
  height: 40px;
  background-color: beige;
  position: relative;
  left: 102px;
}
.teste:hover {
  transform: scale(1.3);
}

.mus {
  color: darkblue;
  width: 270px;
  height: 30px;
  background-color: beige;
  position: relative;
  left: 100px;
}
.mus:hover {
  transform: scale(1.3);
}
